html {
    box-sizing: border-box;
    font-size:1.0rem;
    font-weight:600;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
 background-image: url("https://raw.githubusercontent.com/aubinwhite/danielledrummer/main/filestorage/background.png"); 
  background-color: #cccccc; 
  height: 600px; 
  background-position: center; 
  background-repeat: repeat;
  background-size: cover; 
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

.logo{
    width: 250px;
}

audio { 
  max-width: 260px; 
  border-radius: 6px;
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
  background-color: #333333;
  border: 2px solid #fb7729;
}

a{
    max-width:400px;
    margin:0 auto 15px auto;
    border: 2px solid black;
    display:block;
    background-color:green;
    text-decoration:none;
    padding: 10px 20px;
    font-size:1.0rem;
    border-radius:6px;
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
} 

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: red;
} 

h2{
    font-size:1.0rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
}

.channels{
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}
.channels 
       
        a{
        flex:1;
        background-color:#fb7729 ;
        padding:7px 10px;
        margin-right:-0px;
        border: 2px solid #333333;
        border-radius:6px;
    }
